* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-weight: 400;
}

body {
  font-family: "Roboto Slab", serif;
}

a {
  color: currentColor;
}

/* Start Scroll Bar */
body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
  background: #6649b8;
}
/* End Scroll Bar */

/* Start Section 1 */
.section-1 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}

.section-1-heading {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  background-color: #e41c6f;
  padding: 0 2rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  border-bottom: 0.3rem solid #fff;
  text-shadow: 0.1rem 0.1rem 0.8rem #555;
  transform: skew(-10deg);
}

#trungduc-img {
  width: 406px;
  height: 555px;
  object-fit: cover;
  border: 0.4rem dotted #e41c6f;
  padding: 0.4rem;
  opacity: 0.9;
}

#person-name {
  font-size: 2rem;
  color: #fff;
  background-color: #e41c6f;
  margin: 2rem 0;
  padding: 0.4rem 1.5rem;
  letter-spacing: 0.2rem;
  transform: skew(-10deg);
}

.section-1-btn {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
  background: #fff;
  border: 0.2rem solid #333;
  padding: 0.4rem 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
/* End Section 1 */

/* Start Navbar */
.navbar {
  text-transform: uppercase;
  background-color: #333333;
}
.navbar .container .navbar-brand img {
  width: 2rem;
  height: 2rem;
}
/* change the link color */
.navbar .navbar-nav .nav-link {
  color: #d6d6d6;
}
/* change the color of active or hovered links */
.navbar .nav-item.active .nav-link,
.navbar .nav-item:focus .nav-link,
.navbar .nav-item:hover .nav-link {
  color: #ffffff;
}

.dropdown {
  position: absolute;
  width: 500px;
  opacity: 0;
  z-index: 2;
  background: bisque;
  border-top: 2px solid white;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 3rem;
  margin-top: 1rem;
  padding: 0.5rem;

  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.175em 0.5em;
  transform: translateX(-70%);

  transition: opacity 0.15s ease-out;
}

.has-dropdown:focus-within .dropdown {
  opacity: 1;
  pointer-events: auto;
}

.dropdown-item a {
  width: 100%;
  height: 100%;
  size: 0.7rem;
  padding-left: 10px;
  font-weight: bold;
}

.dropdown-item a::before {
  content: "";
  border: 2px solid white;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

/* End Navbar */

/* Start Section 2 */
.section-2 {
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  background: bisque;
}

.section-2 p {
  font-size: 1rem;
  padding-bottom: 3rem;
}

.skills-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-section .skill-icon img {
  margin: 0.5rem;
  width: 100px;
}

/* End Section 2 */
